.rectangle {
  position: absolute; 
  top: 64px; 
  left: 0px; 
  width: 1300px; 
  height: 606px; 
  background: rgb(189, 189, 189); 
  border-radius: 0px; }

.container {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 1300px; 
  height: 64px; 
  background: rgb(19, 19, 19); 
  border-radius: 0px; 
  box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f; 
}
.header-menu {
  position: absolute; 
  top: 20px; 
  left: 670px; 
  width: 516px; 
  height: 24px; 
  display: flex; 
  align-items: center; 
  font-family: Manrope;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  opacity: 1; 
}
.header-menu .header-menu-item {
  padding: 1px 24px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: rgb(223, 215, 215); 
  background: rgb(104, 106, 114); 
  border-radius: 4px; 
  cursor: pointer; 
  white-space: nowrap; 
  transition: background-color 0.3s ease;
}


.header-menu .header-menu-item.selected {
  position: relative; 
  font-weight: 700; 
  color: rgb(189, 189, 189); 
  background: rgb(2, 2, 2); 
}


.header-menu .header-menu-item.selected:active {
  color: #FFFFFFFF;
  background: rgb(79, 111, 96);
}
.text {
  position: absolute; 
  top: 155px; 
  left: 132px; 
  width: 470px; 
  font-family: Open Sans;
  font-size: 52px; 
  font-weight: 700; 
  line-height: 74px; 
  color: #323842FF;
}
.text {
  position: absolute; 
  top: 155px; 
  left: -600px; 
  width: 470px; 
  font-family: Open Sans;
  font-size: 52px; 
  font-weight: 700; 
  line-height: 74px; 
  color: rgb(17, 17, 17);
}
.button {
  position: absolute; 
  top: -5px; 
  left: 410px; 
  height: 40px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Manrope; 
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #FFFFFFFF; 
  background: rgb(96, 103, 131); 
  opacity: 1; 
  border: none; 
  border-radius: 18px; 
}
/* Hovra */
.button:hover {
  color: #FFFFFFFF;
  background: rgb(109, 155, 136);
}
/* Tryckt */
.button:hover:active {
  color: rgb(233, 212, 212);
  background: rgb(185, 91, 91); 
}
/* Av */
.button:disabled {
  opacity: 0.4; 
}
.image {
  position: relative;
  height: 50px;
  top: px;
  left: -1050px
}
#newButton {
  position: absolute; 
  top: 421px; 
  left: -620px; 
  width: 178px; 
  height: 52px; 
  padding: 0 20px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Manrope; 
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  color: #FFFFFFFF; 
  background: #6A86EAFF; 
  opacity: 1; 
  border: none; 
  border-radius: 26px; 
}

#newButton:hover {
  color: #FFFFFFFF; 
  background: #4F6FE6FF; 
}

#newButton:active {
  color: #FFFFFFFF; 
  background: #3158E2FF; 
}

#newButton2:disabled {
  opacity: 0.4;
}
#newButton2 {
  position: absolute; 
  top: 421px; 
  left: -400px; 
  width: 178px; 
  height: 52px; 
  padding: 0 20px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Manrope;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  color: #FFFFFFFF; 
  background: #6A86EAFF;
  opacity: 1; 
  border: none; 
  border-radius: 26px; 
}

#newButton2:hover {
  color: #FFFFFFFF;
  background: #4F6FE6FF; 
}

#newButton2:active {
  color: #FFFFFFFF; 
  background: #3158E2FF; 
}

#newButton2:disabled {
  opacity: 0.4;
}
.snubbe-image {
  position: absolute;
  top: 91px;
  left: -100px;
  width: 350px
}
#small-text {
  font-size: medium;
  position: absolute;
  top: 475px; 
  left: -650px; 
}
.rectangle2 {
  width: 1300px;
  height: 1600px;
  background-color: rgb(235, 234, 234);
  position: absolute;
  top: 650px;
  left: -670px;
}

.logo-container {
  display: flex; 
  align-items: center; 
  position: relative;
  top: 700px; 
  left: -900px; 
}

.logo {
  width: 60px;
  height: 60px; 
  margin-right: 50px;
  
}
body, h1, p {
  margin: 0;
  padding: 0;
}
.container2 {
  position: absolute;
  width: 900px;
  height: 500px;
  background-color: white;
  border: 8px solid #363535;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-text {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.5; 
}

.learn-more-btn {
  background-color: #6A86EA;
  color: rgb(255, 255, 255);
  border: 2px solid #363535;
  border-radius: 8px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px; 
}

.learn-more-btn:hover {
  background-color: #4F68D9;
}

.arrow {
  margin-left: 5px;
}

.headline-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headline {
  font-weight: bold;
  font-size: 28px;
}

.headline-text {
  font-size: 20px; 
  margin-top: 5px; 
}
#solution {
  position: absolute;
  top: 300px; 
  left: 300px;
  z-index: 9999;

  width: 350px;
  height: 300px;
  border: 4px solid #757070;
  border-radius: 10px;
}
.feature-text {
  position: absolute;
  top: 280px;
  left: 20px;
  font-size: 15px;
  color: rgb(236, 247, 94);
  border: 2px solid rgb(88, 88, 74);
  border-radius: 30px;
  padding: 4px;
  background-color: grey;
}

#businesswoman {
  position: absolute;
  top: 800px; 
  left: -200px; 
  z-index: 9999;
  width: 700px; 
  height: auto; 

  border: 8px solid #333131;
  border-radius: 40px;
}
.resizable-square {
  position: absolute;
  top: 1700px;
  left: -450px; 
  width: 200px; 
  height: 150px; 
  background-color: rgba(96, 205, 238, 0.459);
  border: 2px solid #272626;
  border-radius: 10px;
  resize: both;
  overflow: auto;
  z-index: 9999;
}